---
Title: "Search Engine Tools"
Slug: search-engine-tools
Version: "5.7.0 Alpha 4"
Date: "2022-08-29 09:50am"
Weight: 6720
---


## Enable Google Analytics

Enable Google Analytics Tracking<dfn>You need to sign up with Google to get your code, and enter the code below<dfn>




- Variable Name: ga_enabled
- Data Type: boolean
- Default Value: 

## Google Analytics Javascript

Enter Google Analytics code <dfn>After you have signed up with Google you will get, from their website, an ID and some javascript code. Paste that code into this block to enable Google Analytics for this forum.</dfn>




- Variable Name: ga_code
- Data Type: free
- Default Value: 

## Enable Google Ownership Verification

Enable Google Ownership Verification<dfn>You need to sign up with Google Webmaster Tools to get your code, and enter the code below<dfn>




- Variable Name: google_ownership_verification_enable
- Data Type: free
- Default Value: 0

## Google Ownership Verification HTML tag

Enter Google Verification HTML tag<dfn>After you have signed up with Google Webmaster Tools you will get, from their website, an HTML tag. Paste that tag into this block to verify your ownership. After successful verification you can disable Google Ownership Verification. </dfn>




- Variable Name: google_ownership_verification_tag
- Data Type: free
- Default Value: 

## Enable Bing Ownership Verification

Enable Bing Ownership Verification<dfn>You need to sign up with Bing Webmaster Tools to get your code, and enter the code below<dfn>




- Variable Name: bing_ownership_verification_enable
- Data Type: free
- Default Value: 0

## Bing Ownership Verification HTML tag

Enter Bing Verification meta tag<dfn>After you have signed up with Bing Webmaster Tools you will get, from their website, a meta tag. Paste that tag into this block to verify your ownership. After successful verification you can disable Bing Ownership Verification. </dfn>




- Variable Name: bing_ownership_verification_tag
- Data Type: free
- Default Value: 

## Google Maps API key

This is required for features that use Google Maps.  Follow the <a href='https://developers.google.com/maps/documentation/javascript/get-api-key' target='_blank'>instructions</a> here.<br/><br/>
vBulletin uses the "Google Maps Embed API".  This feature needs to be enabled when creating the API key.




- Variable Name: googlemapsapikey
- Data Type: free
- Default Value: 


<hr>
<small>
updated: 2022-08-29 09:50am | Version: 5.7.0 Alpha 4
</small>